<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcy.learn.springboot.springbootdemo.dao.mappers.UserMapper">
    <resultMap id="BaseResultMap" type="com.zcy.learn.springboot.springbootdemo.dao.entity.User">
        <id column="id" property="id" />
        <result column="name" property="name" />
    </resultMap>

    <sql id="Base_Column_List">
        id, name
    </sql>

    <insert id="insert" parameterType="com.zcy.learn.springboot.springbootdemo.dao.entity.User" keyProperty="id" useGeneratedKeys="true">
        insert into user(name) values (#{name, jdbcType=VARCHAR})
    </insert>
</mapper>